*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
#main-page{
    height: calc(100vh - 75px);
    background-color: aqua;
}

#player{
    height: 75px;
    background-color: rgb(40, 40, 40);
}

.main-content{
    display: flex;
    background-color: yellow;
    height: 100%;
}

.sidebar{
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.playlist-sidebar{
    width: 100%;
}
.nav{
    display: flex;
}
.profile-sidebar{
    width: 100%;
}
.profile-sidebar img{
    background-color: grey;
    border-radius: 30px;
}
.play-list{
    height: 20vh;
    overflow-y: auto;
}

#content{
    width: calc(100vw - 200px);
    background-color: rgb(20, 25, 34);
    overflow-y: auto;
}
header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
}
button{
    background-color: transparent;
    padding: 15px 25px;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 25px;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.header-button{
    top: 5px;
    right: 5px;
}
.flex{
    display: flex;
}

.container{
    width: 100%;
}

.row{
    width: 100%;
    display: flex;
}

.col{
    width: calc(100% / 6 - 20px);
    margin: 10px;
}
.cover{
    position: relative;
    width: 100%;

}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.cover:hover .overlay{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
}

.aggiungi{
    background-color: rgb(163, 163, 163);
    padding: 5px 4px 5px 7px;
}

/* common */

.margin-top-20{
    margin-top: 20px;
}
.margin-10-0{
    margin: 10px 0px;
}
.margin-20-0{
    margin: 20px 0px;
}
.margin-0-10{
    margin: 0px 10px;
}

.padding-5-0{
    padding: 5px 0px;
}

.text-center{
    text-align: center;
}

.white{
    color: white;
}
.grey{
    color: rgb(163, 163, 163);
}

.font-size-10{
    font-size: 10px;
}
.font-size-13{
    font-size: 13px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-10{
    font-size: 10px;
}

.width-70{
    width: 70%;
}
.width-15{
    width: 15%;
}
.width-10{
    width: 10%;
}
/* media query max-width 780px */

@media screen and (max-width: 780px){
    .row{
        flex-wrap: wrap;
    }
    .col{
        width: calc(100% / 4 - 20px);
    }
}

/* media query max-width 480px */

@media screen and (max-width: 480px){
    .col{
        width: calc(100% / 2 - 20px)
    }
}
/* media query max-width 360px, riduzione della sidebar */

@media screen and (max-width: 360px){
    #sidebar{
        width: 50px;
    }
    #content{
        width: calc(100vw - 50px);
    }
}